{
  "presets": [
    "env",
    "stage-0"
  ],
  "plugins": [
    "transform-object-assign",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "schemas": "schemas",
        "utils": "utils",
        "constants": "constants"
      }
    }]
  ]
}
