{
  "presets": [
    "env",
    "stage-0"
  ],
  "plugins": [
    "transform-object-assign",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "schemas": "schemas",
        "routes": "routes",
        "middleware": "middleware",
        "utils": "utils",
        "utilsTaiwan": "utils/taiwan"
      }
    }]
  ]
}
